body {
  margin: 0;
  font-family: "Evolventa",
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Evolventa; 
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Evolventa/Evolventa-Bold.ttf);
 }

 @font-face {
    font-family: Evolventa; 
    font-weight: 500;
    font-style: normal;
    src: url(./fonts/Evolventa/Evolventa-Bold.ttf);
 }

 @font-face {
    font-family: Evolventa; 
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Evolventa/Evolventa-Regular.ttf);
 }



li{list-style: none;}
img{width:100%;}
a{transition: all .6s ease;}
a:hover{
	text-decoration: none!important;
	cursor:pointer;
}

.img-cover{object-fit: cover;}
.img-contain{object-fit: contain;}
.w-10{width:10%;}
.w-20{width:20%;}
.w-30{width:30%;}
.w-40{width:40%;}
.w-60{width:60%;}

.m-aut{margin:0 auto!important;}
.mb-0{margin-bottom:0!important;}


.mt-10{margin-top:10px!important;}
.mt-15{margin-top:15px!important;}
.mt-20{margin-top:20px!important;}
.mt-30{margin-top:30px!important;}
.mt-40{margin-top:40px!important;}
.mt-50{margin-top:50px!important;}
.mt-60{margin-top:60px!important;}
.mt-70{margin-top:70px!important;}
.mt-80{margin-top:80px!important;}


.pt--5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pt-60{padding-top:60px;}
.pt-70{padding-top:70px;}
.pt-80{padding-top:80px;}
.pt-90{padding-top:90px;}

.p-lft0{padding-left:0!important;}

.l-height1{line-height: 1;}
.l-height1-2{line-height: 1.2;}
.l-height2{line-height: 2;}

.bg-lh-grey{
	background-color: #f2f2f3;
}

/*----Button-----*/

.btn-blue-link{
	width: 200px;
	background-color: #3a08bd;
	padding: 2px 0px;
	margin-left: 50px;
}


.btn-blue-link a{
	color:#ffff;
	padding: 0px 30px;
}



/* ------------Header---------------*/

.scroll-top{
	height:70px;
	transition: all .5s ease;
}

.header-auto{
	height:auto;
}

.block-drop-down nav ul, .block-drop-down .users-tools{
	padding-left:10px!important;
}



.scroll-down{
	
	position: fixed;
	left:0;
	right:0;
	z-index: 10;
	width: 100%;
	animation-name: HeaderDown;
	animation-duration: .5s;

}

@keyframes HeaderDown{
	0%{
		transform: translateY(-40px);
	}
	
	100%{
		transform: translateY(0px);
	}
}



.scroll-down .enter-block-header{
	border-bottom: none!important;
}
.nav-header{
	border:1px solid #c7c6c6;
	transition: all .5s ease;
}

.block-drop-down, .wrap-burger{
	display: none;
}

.enter-block-header{
	padding: 5px 0px;
	border-bottom: 2px dotted #6d6b6b;
	padding-left:5px!important;
	padding-right:5px!important;
}

.right-navbar nav a, .search-btn{
	font-size:1rem;
	color: #8c8b8b;
	font-weight: 500;
	padding: 5px;
}

.navbar-uz{
	font-size:.8rem!important;
}

.search-btn{
	margin-left: 50%;
}

.right-navbar nav a:hover, 
.search-btn:hover{color: #3a3939;cursor:pointer;}

.select-language{
    padding: 0px 3px;
    border-radius: 5px;
    height: 25px;
    width: 60%;
    margin-left: 40%;
    margin-top: 7px;
}

.select-language:hover, .dropdown-select .item-select:hover{cursor:pointer;}

.translation-block [data-state='sleep']{
	display: none;
	z-index: 2;
	
}

.translation-block{
	padding-right:0!important;
}


.container-serch-input textarea{
	width: 100%;
    background-color:#f2f2f3;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 3px;
    font-style: italic;
}

.container-serch-input{
	position: absolute;
    right: 19%;
    width: 100%;
    z-index: 11;
}

.container-close{
	top:0;
	right:2%;
}

.hide-inp{
	display: none;
}
.show-inp{
	display: block;
}

.translation-block [data-state='active']{display: block;}

.dropdown-select{
	width: 48%;
    padding: 0px 3px;
    border-radius: 3px;
    top: 30px;
    z-index: 2;
    right:0;
	padding-top: 5px;
}

.dropdown-select .item-select{
	justify-content: space-between;
	display: flex;
}

.cont-select{
	width: 45%;
	height: 100%;
    display: block;
    border-radius: 3px;
    overflow: hidden;
}

.arrow-btn{
	font-size: .7rem;
    width: 10px;
    top: 0px;
    right: 3px;
}

.block-drop-down .users-tools{
	margin-left: 0;
    padding-left: 0;
}

.block-drop-down .translation-block{
	padding-left: 0;
	margin-left: 0!important;
}

.block-drop-down .translation-block{
	max-width:45px;
}

.block-drop-down .search-btn{
	margin-left: 0;
}

.block-drop-down .container-serch-input{
	left: 0;
    margin-left: 20px;
}

.block-drop-down .container-serch{
	max-width: 10%;
}

.block-drop-down .select-language{
	margin-left: 0;
}

.carousel{
	height: 350px;
}
/*------Search Resoult------------- */

.resoult-search-block{
	top: 100%;
}

.container-resoult{
	padding:10px 5px;
}

.container-resoult ul{
	padding-left:0!important;
}

.container-resoult ul li{
	padding: 5px 10px;
	transition: all .6s ease;
}

.container-resoult ul li a{
	color: #8c8b8b;
}

.container-resoult ul li a:hover{
	color: rgba(58, 57, 57);
}

.container-resoult ul li:hover{
	background-color: #e9e9ea;
}



.container-resoult ul li p{
	margin-bottom:0!important;
}

.container-resoult div{
	margin:0!important;
}

.block-drop-down{
	padding:0px 0px 20px;
}

.cont-form .text-error{
	color:red!important;
}

.cont-form .text-error::-webkit-input-placeholder {
  color: red;
}

.cont-form .text-error:-moz-placeholder { /* Firefox 18- */
  color: red;  
}

.cont-form .text-error::-moz-placeholder {  /* Firefox 19+ */
  color: red;  
}

.cont-form .text-error:-ms-input-placeholder {
  color: red;  
}

.cont-form .text-error::placeholder {
  color: red;  
}



/* --------- Footer-------*/

footer{
	padding: 30px;
}


.item-address p{font-size:.9rem;}

footer .item-download {
	border: 1px solid #00b9fd;
    padding: 3px;
    width:200px;
}

footer .item-download a{
	padding: 3px 15px;
	color:#ffff;
}

.mid-foot-blck li a{
	color:white;
	font-size:.95rem;
}
.icon-social img{transition:all .6s ease;}

.item-soc-icon a:hover .icon-social img{transform:scale(1.2);}

.mid-foot-blck li a:hover, .list-links-instruction li:hover{color:#00b9fd;}

.mid-foot-blck li{line-height: 1.3;}
.item-address span{
	width: 20px;
    height: 20px;
}
.item-address img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.cont-pic-logo{
	width:70%;
	padding: 20px 0px;
    padding-left: 30px;
}


.modal-window-certificate .top-title{
	clip-path: polygon(9% 16%, 97% 37%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(9% 16%, 97% 37%, 100% 100%, 0% 100%);
	background-color: #12aaf1;
	padding-top: 15px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    z-index: 3;
}

.modal-window-certificate .top-title p{
	margin-bottom:0!important;
}

.modal-window-certificate .cont-title{
	
	padding: 20px 0px;
}


.block-instruction-modal ul li{
	list-style: disc!important;
	font-size: .9rem;
    padding: 3px;
}

.block-instruction-modal .text-modal{
	font-size:.9rem;
}

.modal-window-certificate .cont-title{
	width: 65%;
}

.list-links-instruction li{
	cursor: pointer;
	color: #fff;
}

.mid-foot-blck ul{
	padding-left:0;
}

.modal-header h3{
	margin-bottom:0!important;
	color: #12aaf1;
}

.item-download{
	transition: all .5s ease;
}

.item-download:hover{
	background-color: #12aaf1;
	color: #212529;
}

